@page "/"

<PageTitle>Home</PageTitle>

@* <h1>Hello, world!</h1> *@

Bienvenido a la pagina del Lector PCSC

<div><p class="h6">Versión: @version</p></div>

@code {
     Version version = typeof(Program).Assembly.GetName().Version;
 }