@page "/readcard"
@rendermode InteractiveServer

@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
@using Microsoft.AspNetCore.SignalR.Client;

<h3>ATR de la tarjeta</h3>
<p>@atr</p>
<button @onclick="GetATR" style="padding; margin: 15px 0px 15px 0px;">Leer ATR</button>

@code {
    private string? atr;

    private async Task GetATR()
    {
        atr = await JSRuntime.InvokeAsync<string>("getCardATR");
    }
}